.skills-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}
.tech-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
    align-items: center; 
    margin-left: 15px;
}

.tech-icon img {
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

@media(max-width : 600px){
    .tech-icon{
        width: 3.3rem;
        height: 3.3rem;
    }
    .tech-icon img {
        width: 2rem;
    }
}